.custom-bg{
    background-color: #BDA18A !important;
}

/* layout.module.css */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Au moins 100% de la hauteur de la fenêtre visible */
}

.contentWrapper {
    flex: 1; /* Faites en sorte que ce contenu s'étire pour remplir l'espace disponible */
}
